.container_Pages_App {
    display: flex;
    background-color: rgb(21, 21, 21);
  }
  
  .container_libraryPage {
    border-bottom: 1px solid gray;
    padding: 1rem 2rem;
    color: aliceblue;
  }
  
  .title_container_librarypage {
    text-align: center;
    color: black;
    margin: 0.5rem 4rem  }
  
.title_container_librarypage b{
    margin: auto 0.5rem;
    padding: auto 0.5rem;
    font-size: medium;
}
  .container_videoList_libraryPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .video_item {
    margin: 10px;
    text-align: center;
  }
  
  .video_item video {
    width: 100%;
    max-width: 300px; 
  }
  